---
name: Sticky Promo Card
description: A sticky promo card promotes content,
notes: |
  - Use only one primary cta per card.
  - Use only one sticky promo card per page.
  - The copy on the card should be short and succinct, ideally no longer than 2 lines at display size in English.
  - Always include a product logo in the card content.
  - Ensure that the sticky card placement receives maximum contrast to the background content that lies underneath (ex. If the sticky promo appears over a light colored background, use a dark sticky card by adding `mzp-t-dark` to the class list.)

---
<div class="mzp-l-content">
  <div class="mzp-c-sticky-promo mzp-t-product-firefox mzp-t-dark">
    <button class="mzp-c-sticky-promo-close" type="button"></button>
    <h3 class="mzp-c-sticky-promo-title">Get the latest Firefox Browser.</h3>
    <a class="mzp-c-button mzp-t-product mzp-t-small" href="#">Download Now</a>
  </div>
</div>

<script
 src="../../../assets/protocol/protocol/js/protocol-sticky-promo.js">
</script>
